<launch>
        <rosparam file="$(find k3_mobile_control)/config/controllers.yaml" command="load" />
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true"
                        output="screen" args="joint_state_controller
                                              base_controller">
        </node>
</launch>